@import "tailwindcss";

@theme {
  --font-size-xs: 0.625rem;
  --font-size-sm: 0.6875rem;
  --font-size-base: 0.75rem;
  --font-size-lg: 0.8125rem;
  --font-size-xl: 0.9375rem;
  --font-size-2xl: 1rem;
  --font-size-3xl: 1.125rem;
  --spacing: 0.21875rem;
}

body {
  font-size: 0.75rem;
}

* {
  letter-spacing: -0.01em;
}
